p::first-letter {
    font-size: 1rem; /*aumenta el tamaño de la letra*/
    font-weight: bold;
    color: darkgray;
}

body {
    display: flex; /*todo el documento es flexible*/
    flex-direction: column;
    font-family: "century gothic", Arial, Helvetica, sans-serif;
    background-color: white;
    min-height: 100vh; /*para que ocupe todo el alto*/
    margin: 0%;
}

header, nav, section, footer {
    padding: 20px;
    margin: 20; /*no hay que poner px*/
    border: solid 2px whitesmoke;
    border-radius: 10px;
    color: white;
}

header {
    background-color: darkgray;
    text-align: center;
}

section {
    background-color: darkolivegreen;
}

img {
    float: left; /*la imagen está a la izquierda del texto*/
    margin-top: 1.1vw;
    margin-right:2vw;
    border-radius: 2vh;
    max-width: 100%;
    border: 5px solid goldenrod;
  }

footer {
    background-color: darkgoldenrod;
    text-align: center;
}

footer:hover { /*cambia de color cuando pasa el cursor*/
background-color: ;
}

nav{
    background-color: darkcyan;
    width: 15em;
}

ul{
    list-style-type: none;
}

nav a {
    padding: 0.5em 1em;
    color: white;
    border-color: rgba(255,255,255,0.3);
    text-decoration: none; /*quitar la decoración de los enlaces*/
    border-bottom: 1px solid #555;
    cursor: progress; /*Cambia el cursor*/
    display: block;
}

.wrapper {
    flex: 1 1 auto; /*dimensión de una caja o elemento respecto a los demás*/
    display: flex; 
}

@media screen and (max-width: 640px) {
    .wrapper {
        flex-direction: column;
    }
    nav {
        width: auto;
    }
    }

@media print {  /*ESTILO QUE CAMBIA EN LA OPCIÓN IMPRIMIR*/
    body {
        font-family: verdana;
            }
    nav {
        display: none; /*desaparace el menú al imprimir*/
        width: auto;
        order: 0;
        }
}