body {
    font-variant: small-caps; /*todo tendrá las mayúsculas activcadas*/
    font-weight: bold;  /*todo tendrá las negritas activcadas*/
    font-size: 24px;
    font-family: open sans condensed;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
}

form {
    margin: 10px;
    width: auto; 
}
    
.contenedor-grid {
    display: grid;
    grid-template-columns: 20% 80%; /*Tamaño de las dos columnas*/
    gap: 1em; /*huecos entre líneas*/
    background-color: #ffffff;
    align-content: center;
    width: auto;
    padding: 5px;
    border: 1px solid black; 
}

label {
    display: grid;   
    text-align: right; /* Alinea el texto de los labels a la derecha */
}

input {
    display: grid;  
}

textarea {
    grid-column: span 2; /*El cuadro de texto tiene que ocupar las dos columnas*/
    height: 150px;
}

legend {
    grid-column: span 2;
}



