body {
    font-family: trebuchet, geneva, sans-serif;
    background: lightgray url(bg.jpg) no-repeat center center fixed;
    /* -webkit-background-size: cover; Para compatibiliad en todos los navegadores */
   /* margin: 0; No hay separación de los elementos*/
}

p::first-letter {
    font-size: 1rem; /*aumenta el tamaño de la letra*/
    font-weight: bold;
    color: #4c3803;
}

article, aside, footer, header {
    padding: 1rem;
}
    

.contenedor {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    height: 84%;
}

header {
    background-color: #b28306;
    color: #4c3803,
    border-radius: 20px;
    text-align: center;
    padding: 80px;
}

li {

    display: inline; 
    
}

li a { 
    text-align: center;
    flex: auto;
    padding: 5px 0px;
    margin: 0 5px;
    border-radius: 20px;
    text-decoration: none; /*PARA QUITARLE EL SUBRAYADO*/
    background-color:#4c3803;
    color:#b28306;

}


li a:hover { /*PARA PONER OTRO COLOR CUANDO PASE EL CURSOR POR ENCIMA*/
    color: whitesmoke;
  }

footer a {
    text-decoration: none;
    color:lightslategray;
}

  /*FLEXBOX*/
nav {
    display: flex;
    background-color: #ebcd7c;
    border-radius: 20px;
    justify-content: center;
    
}



aside { 
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
    background-color:  #b28306;
    border-radius: 20px;
    padding: 10px;
    }

 /*RENPONSIVE*/
 @media screen and (min-width: 480px){
    body {
        display: flex;
        flex-direction: column;
        margin:auto;
        box-sizing: border-box;
        max-width: 75rem;
    }
    main {
        display: flex;
        flex-wrap: nowrap; /*para que el aside esté a la derecha*/
        border-bottom: 0.5 rem solid black;
    }
    nav, header {
        order: -1; /*Para que suba*/
    }
    article {
        flex: 75%; /*hay que poner el espacio que quiero que ocupe*/
    }
    aside {
        flex: 25%; /*hay que poner el espacio que quiero que ocupe*/
    }
 }
    
 
