@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

body {
    font-variant: small-caps; /*todo tendrá las mayúsculas activcadas*/
    font-weight: bold;  /*todo tendrá las negritas activcadas*/
    font-size: 24px;
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
}

form {
    margin: 10px;

    border: 1px solid black; 
    background-color: #ffffff;
}

fieldset {
    border: 1px;
}
    
.contenedor-grid {
    display: grid;
    grid-template-columns: 20% 80%; /*Tamaño de las dos columnas*/
    grid-row-gap: 1em; /*hueco que define el espaciado vertical (entre filas)*/
        
}

label {
    display: grid;   
    text-align: right; /* Alinea el texto de los labels a la derecha */
}


textarea {
    grid-column: span 2; /*El cuadro de texto tiene que ocupar las dos columnas*/
    height: 150px;
}

legend {
    grid-column: span 2;
}

label[for="name"]::after {
    content: ':';
}



