h1 {
    color: yellow
}

p {
    font-size: 80%;  
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-indent: 30px; /*Espacio al inicio del párrafo*/
    color: pink;
}