body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(52, 49, 49);
    padding: 1rem;
}

* {
    box-sizing: border-box;
  }

  /* Nuestro contenedor */
.contenedor-principal {
    max-width: 1170px; /* Ancho fijo que tendrá como máximo */
    /* Centramos la caja */
    margin-left: auto;
    margin-right: auto;

    /*relleno del documento*/
    padding: 1em;
  }

  /* Afectará al estilo de los contactos
  Márgenes a 0 para los elementos h3 y ul 
  Aparecerán uno encima de otro */
h3,
ul {
  margin: 0;
}

h3 {
    margin-bottom: 1rem;
  } /*separación*/


/* Cuando el usuario ponga el foco sobre cualquier
entrada del formulario la resalto en gold */
input:focus,
textarea:focus {
  outline: 3px solid gold;
}

/* Estilo predeterminado para los
elementos de entrada del formulario y
el botón */
input,
textarea,
button {
  width: 100%;
  border: 1px solid #000;
}

/* Defino una sombra para nuestro
envoltorio */
.contenedor2 {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
}

/* Todos los elementos que se encuentren
dentro del envoltorio tendrán un mismo
relleno de 1em */
.contenedor2 > * {
    padding: 1em;
  }

  ul {
    list-style: none; /* Elimino los puntos */
    padding: 0;
  }

  /* Los contactos tienen un color blanco
sobre fondo con tono verde */
.contenedor2 {
    background: rgb(11, 76, 26);;
    color: #fff;
  }

  /* Estilo de la clase que contiene
tanto el formulario como el encabezado */
.form {
    background: #fff;
  }
  